<form>
    <div class="row align-end mb-2">
        <div class="col-5">
            <label>User name</label>
            <input type="text" name="organisation" [(ngModel)]="organisationData.organisation" class="form-control"
                placeholder="User name">
        </div>
        <div class="col-5">
            <label>Repository name</label>
            <input type="text" name="repository" [(ngModel)]="organisationData.repository" class="form-control"
                placeholder="Repository name">
        </div>
        <div class="col-2">
            <button type="submit" (click)="getBranches(true)" class="btn btn-primary search-width">Search</button>
        </div>
    </div>
    <div class="row" *ngIf="commits.length > 0 && !isLoaded">
        <div class="col-md-4 form-group">
            <label>Branch</label>
            <select name="cars" class="custom-select" [(ngModel)]="filters.sha" (ngModelChange)="getCommits(false);filters.page = 1">
                <option value="{{ branch.commit.sha }}" *ngFor="let branch of branches"><b>{{ branch.name }}</b>
                </option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="isLoaded">
        <img class="display-center" src="assets/images/spinner.gif">
    </div>
    <div class="row" *ngIf="commits.length > 0 && !isLoaded">
		<div class="col-md-12">
			<ul class="timeline">
				<li *ngFor="let key of Utils.keys(groupCommits);let i=index">
                    <span>Commits on {{key | date:'MMMM d, y'}}</span>
                    <ul class="list-group">
                        <li class="list-group-item" [ngClass]="{'open': commit.toggle}" *ngFor="let commit of groupCommits[key]">
                            <div *ngFor="let message of commit.commit.message.split('\n');let i = index">
                                <span *ngIf="i === 0" class="comment-title">
                                    <b class="tittle-heading">{{message}}</b>
                                    <span class="hidden-text-expander inline" *ngIf="commit.commit.message.split('\n').length > 1">
                                        <button type="button" class="ellipsis-expander js-details-target"
                                            (click)="commit.toggle = !commit.toggle">…</button>
                                    </span>
                                    <div class="detail-person" *ngIf="commit.author && commit.committer">
                                        <div class="AvatarStack">
                                            <div class="AvatarStack-body">
                                                <span class="avatar" *ngIf="commit.author.login !== commit.committer.login">
                                                    <img height="20" width="20" src="{{commit.author.avatar_url}}">  
                                                </span>        
                                                <span class="avatar">
                                                        <img height="20" width="20" alt="@alxhub" src="{{commit.committer.avatar_url}}">
                                                </span>  
                                            </div>
                                        </div>    
                                        <span *ngIf="commit.author.login !== commit.committer.login"><span  class="commit-author" >{{commit.author.login}} </span> authored and </span>  <span class="commit-author">{{commit.committer.login}}</span>committed
                                    </div>
                                </span>
                                
                                <span *ngIf="i > 0 && commit.toggle" class="content-text">
                                    {{message}}
                                </span>
                            </div>
                            <div class="tag-over">#{{commit.sha.substring(0,6)}}</div>
                        </li>
                    </ul>
				</li>
			</ul>
		</div>
    </div>
    <div class="row" *ngIf="isError">
        <span class="display-center">Repository Not Found</span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="paginate-container" data-pjax="" data-html-cleaner-suppress-children="">
                <div class="BtnGroup" data-test-selector="pagination">
                    <button class="btn btn-outline BtnGroup-item" (click)="filters.page = filters.page - 1;getCommits(false) " [disabled]="filters.page === 1">Newer</button>
                    <button class="btn btn-outline BtnGroup-item" (click)="filters.page = filters.page + 1;getCommits(false) " [disabled]="commits.length < 100">Older</button>
                </div>
            </div>
        </div>
    </div>
</form>